<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
	</settings>
	
	<typeAliases>
		<typeAlias type="com.board.member.MemberVO" alias="member"/>
		<typeAlias type="com.board.board.MemberBoardVO" alias="memberBoard"/>
		<typeAlias type="com.board.board.PagingVO" alias="paging"/>
		<typeAlias type="com.board.board.AnonymBoardVO" alias="anonymBoard"/>
		<typeAlias type="com.board.board.PasswordClearVO" alias="passwordClear"/>
		<typeAlias type="com.board.board.DateVO" alias="dateS"/>
	</typeAliases>
	
	<mappers>
		
		<mapper resource="config/mybatis/mapper/member.xml"/>
		<mapper resource="config/mybatis/mapper/board.xml"/>
	</mappers>
</configuration>